@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html,
body {
  background-color: #efefef;
}

.view-stock-container {
  padding: 20px;
  background-color: #efefef;
  border-radius: 8px;
  font-family: "Noto Sans", sans-serif;
}


.stock-select{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #efefef;
  cursor: pointer;
  color: #37474f;
  margin-left: 6%;
}
.view-stock-table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin-left: 15%;
  margin-top: 3%;
}

.view-stock-title {
  font-size: 28px;
  font-weight: 400;
  color: #37474f;
  padding: 5px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 20px;
  margin-right: 73%;
  font-family: "Noto Sans", sans-serif;
}

.view-stock-table th,
.view-stock-table td {
  padding: 12px 15px;
  border-bottom: 2px solid #ccc;
}

.view-stock-table th {
  background-color: #efefef;
  color: #4e4a4a;
  text-align: center;
}
.view-stock-table td {
  font-size: 0.9rem;
  color: #555;
}

/* Action Icons */
.action-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* Action Icons */
.action-icons i {
  cursor: pointer;
  color: #37474f;
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.action-icons i:hover {
  transform: scale(1.2);
}

.action {
  background-color: transparent;
  border: none;
}
