@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.stockNav-sidenav {
  width: 80px;
  background-color: #ffff;
  height: 75vh;
  margin-top: 9%;
  margin-left: 2%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #5d4037;
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Noto Sans", sans-serif;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.stockNav-sidenav.stockNav-open {
  transform: translateX(-260px);
}

.stockNav-center-icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #37474f;
  width: 70px;
  height: 70px;
  background-color: #ffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
}

.stockNav-nav-label {
  color: #37474f;
  font-weight: bold;
  font-size: small;
}

.stockNav-profile-icon-btn {
  color: #37474f;
  background-color: #efefef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 20px;
  padding: 5px;
  z-index: 1000;
}

.stockNav-center-icon-btn svg {
  display: block;
}

.stockNav-brand {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.stockNav-sidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.stockNav-sidenav ul li {
  margin: 10px 0;
  text-align: center;
}

.stockNav-sidenav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
}

.stockNav-sidenav ul hr {
  border: 0;
  height: 1px;
  opacity: 0.5;
  margin: 10px 0;
}

main {
  margin-left: 220px;
  padding: 20px;
}

.stockNav-center-icon-btn.stockNav-active {
  background-color: rgba(154, 195, 221, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(154, 195, 221, 0.7);
  transition: all 0.3s ease-in-out;
}

@keyframes stockNav-shadowPulse {
  0% {
    box-shadow: 0 0 10px rgba(154, 195, 221, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(154, 195, 221, 0.9);
  }
  100% {
    box-shadow: 0 0 10px rgba(154, 195, 221, 0.5);
  }
}

.stockNav-center-icon-btn:hover {
  background-color: rgba(154, 195, 221, 0.2);
  border-radius: 50%;
  box-shadow: 0 0 15px #9ac3dd;
  transition: all 0.3s ease-in-out;
}

.stockNav-center-icon-btn.stockNav-active {
  animation: stockNav-shadowPulse 1.5s infinite;
}

@media (max-width: 768px) {
  .stockNav-sidenav {
    transform: translateX(-220px);
  }

  .stockNav-sidenav.stockNav-open {
    transform: translateX(0);
  }

  .stockNav-list-icon-btn {
    display: block;
  }

  .stockNav-sidenav {
    width: 200px;
  }

  main {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .stockNav-sidenav {
    width: 180px;
  }

  .stockNav-sidenav ul li a {
    font-size: 14px;
  }
}
