@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html, body{
  background-color: #efefef;
}

.returns-container {
  padding: 20px;
  background-color: #efefef;
  border-radius: 8px;
  font-family: "Noto Sans", sans-serif;
}

.returns-table {
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  margin-left: 15%;
  margin-top: 3%;
}
.returns-title {
  font-size: 28px;
  color: #37474F;
  margin-bottom: 20px;
  text-align: center;
  margin-left: 10%;
  font-family: "Noto Sans", sans-serif;

}

.hr-returns{
  margin-left: 10%;
  margin-right: 2%;
  margin-top: 2.9%;
}

.search-input {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 10px auto;
  display: block;
  background-color: #efefef;
}
.filter-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #efefef;
  cursor: pointer;
  margin-left: 20%;
  color: #858080;
}
.returns-table th, .returns-table td {
  padding: 12px 15px;
  border-bottom: 2px solid #ccc;
}

.returns-table th {
  background-color: #efefef;
  color: #4e4a4a;
  text-align: center;
}
.returns-table td {
  font-size: 0.9rem;
  color: #555;
}

.returnsview-btn {
  padding: 5px 10px;
  background-color: #37474F;
  color: white;
  border: none;
  cursor: pointer;
}

.returnsview-btn:hover {
  background-color: #113051;
}


.returnsmodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}

.returnsmodal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  color: black;
  max-width: 600px;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.returnsmodal.show {
  display: flex; 
}

.close-btn {
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: #f84e55;
}

.returnsitems-table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

.returnsitems-table th, .returnsitems-table td {
  border: 1px solid #828282;
  padding: 8px;
  text-align: center;
}

.returnsitems-table th {
  background-color: #828282;
  color: #4e4a4a;
}
